replicaCount: 1

image:
  repository: busybox
  tag: "1.36"
  pullPolicy: IfNotPresent
  cmd: ["sh", "-c", "while true; do echo Hello from $(hostname); sleep 30; done"]

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

podLabels: {}
podAnnotations: {}